

.josefin-sans{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

*{
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-image: url('./src/images/building-7879891_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* gap: 20px; */
}
.titulo{
    /*position: absolute;*/
    font-size: 50px;
    text-shadow: 0px 5px 10px black;
    color: aliceblue;
    font-weight: bolder;
    top: 30%;
    left: 10%;
    width: 100%;
    justify-self: left;
    margin-bottom: 20px;
    

}
.botones{
    display: flex;
    padding-bottom: 15px;
    gap: 20px;
}
.iniciar{
    /* justify-self: center; */
    background-color: rgba(95, 141, 182, 0.699);
    border-color: rgb(26, 80, 128);
    color: rgb(0, 0, 0);
    /* font-size: larger; */
    font-weight: bolder;
}
.iniciar:hover{
    background-color: rgb(26, 80, 128);
    color: white   ;
}
.registrarse{
  background-color: rgba(100,100,100, 0.5);
  border-color: rgb(255, 255, 255);
  color: white;
  font-weight: bolder;

}
.registrarse:hover{
  background-color: white;
  color: black;
}


.botonReserva{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 550px;
  display: flex;
  justify-content: center;
  background-color: rgba(150, 150, 150, 0.5);
  font-weight: bolder;
  gap: 5px;
  bottom: 50%;
}